Thingbox/28102015_Flows.txt
[{"id":"MQTT.Localhost","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"3627537b.294e84","type":"inject","name":"MQTT Publish","topic":"Watermeter","payload":"ID3480","payloadType":"string","repeat":"","crontab":"","once":false,"x":121,"y":180,"z":"c3aed0d3.3ce58","wires":[["6d821142.be8b7"]]},{"id":"6d821142.be8b7","type":"mqtt out","name":"MQTT Local Publisher","topic":"Watermeter","qos":"1","retain":"true","broker":"MQTT.Localhost","x":328,"y":178,"z":"c3aed0d3.3ce58","wires":[]},{"id":"83d6011f.6067b8","type":"http request","name":"UK Power","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":114,"y":1023,"z":"c3aed0d3.3ce58","wires":[["8d239e87.755a78"]]},{"id":"8d239e87.755a78","type":"function","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n msg.payload = {};\n msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n \n msg2 = {};\n msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n return [msg,msg2];\n}\n\nreturn null;","outputs":"3","noerr":0,"x":497,"y":1030,"z":"c3aed0d3.3ce58","wires":[["632dcee4.d06cb8"],[],[]]},{"id":"632dcee4.d06cb8","type":"debug","name":"","active":true,"complete":false,"x":710,"y":1039,"z":"c3aed0d3.3ce58","wires":[]},{"id":"f9d13f61.6cbf6","type":"inject","name":"CSV data in","topic":"","payload":"nid=2,count=10,speed=20,rssi=-10","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.00001525878906,"y":1080.9166870117188,"z":"c3aed0d3.3ce58","wires":[["65805c3c.fb1ac4"]]},{"id":"65805c3c.fb1ac4","type":"function","name":"Parser","func":"//splits the data\n//Code snippet from\n//http://flows.nodered.org/flow/6572686\n\nvar data = msg.payload.split(\",\");\n\nmsg.payload = {}; //null msg obj and create new properties\n//may need to remove the parseint function \nmsg.payload.nodeid = parseInt(data[0].split(\"=\")[1]);\nmsg.payload.counter = parseInt(data[1].split(\"=\")[1]);\nmsg.payload.speed = parseFloat(data[2].split(\"=\")[1]);\nmsg.payload.rx_rssi = parseInt(data[3].split(\"=\")[1]);\n\nreturn msg;","outputs":1,"x":322,"y":1120.9166870117188,"z":"c3aed0d3.3ce58","wires":[["cdb57c20.233d"]]},{"id":"f1e7afbb.d7a638","type":"debug","name":"","active":true,"console":false,"complete":false,"x":721.0833129882812,"y":1150,"z":"c3aed0d3.3ce58","wires":[]},{"id":"cdb57c20.233d","type":"http request","name":"","method":"GET","url":"https://docs.google.com/forms/d/YouFormID/formResponse?entry.1077669989={{payload.nodeid}}&entry_10292411={{payload.counter}}&entry_1862110215={{payload.speed}}&entry_1744026500={{payload.rx_rssi}}","x":509.08331298828125,"y":1102,"z":"c3aed0d3.3ce58","wires":[["f1e7afbb.d7a638"]]},{"id":"897db48a.4e78d","type":"debug","name":"","active":true,"console":false,"complete":false,"x":678,"y":84,"z":"c3aed0d3.3ce58","wires":[]},{"id":"4f39ab93.0f4d04","type":"http request","name":"Update Temperature","method":"GET","ret":"txt","url":"https://script.google.com/macros/s/AKfycbx-xJTuP13mvPBzDJHSpwCS1yA5OmHiCLFKVzFeRNpwkqOOaUw/exec?id=update&Temperature={{payload.temperature}}&Humidity={{payload.humidity}}","x":491,"y":83,"z":"c3aed0d3.3ce58","wires":[["897db48a.4e78d"]]},{"id":"444c1340.d00b7c","type":"function","name":"MQTT Parse","func":"if(msg.payload.length == 6)\n{\n var nhietdo = 0;\n var doam = 0;\n nhietdo = msg.payload[2]+msg.payload[3];\n doam = msg.payload[4]+msg.payload[5];\n msg.payload = \"Nhiet do: \" + nhietdo +\",Do am: \"+ doam;\n//https://script.google.com/macros/s/AKfycbx-xJTuP13mvPBzDJHSpwCS1yA5OmHiCLFKVzFeRNpwkqOOaUw/exec?id=update&Temperature={{payload.temperature}}&Humidity={{payload.humidity}} \n msg.payload = {}; \n msg.payload.temperature = nhietdo;\n msg.payload.humidity = doam;\n return msg;\n}\nelse \n return msg;","outputs":"1","noerr":0,"x":300,"y":83,"z":"c3aed0d3.3ce58","wires":[["4f39ab93.0f4d04"]]},{"id":"93379ed7.367d1","type":"comment","name":"MQTT Subcriber ","info":"Subcribe MQTT, khi có gói tin MQTT gửi đến\n,so sánh đúng khung truyền thì nhận\nTách nhiệt độ và độ ẩm ra ghép lại\nthành payload có thuộc tính, gửi qua cho\nnode http request gọi link Google App Script\n\n","x":105,"y":41,"z":"c3aed0d3.3ce58","wires":[]},{"id":"b54f645.7113c98","type":"comment","name":"MQTT Publish","info":"Gửi gói tin MQTT đến Topic Watermater ","x":96,"y":136,"z":"c3aed0d3.3ce58","wires":[]},{"id":"b1ce2caf.0ef838","type":"http request","name":"POST to Boxcar2","method":"POST","ret":"txt","url":"https://new.boxcar.io/api/notifications?user_credentials=0GvWXesqsKtkEMwCGqRp&&notification[icon_url]=https://dl.dropboxusercontent.com/u/23155150/Logo96x96.png&notification[sound]=magic-chime&notification[title]=Smart%20Home%20System&notification[long_message]=%3Cb%3E%5BTTP2015%5D%20Smart%20home%20system%20is%20ready%20to%20use%20now%20!%3Cb%3E%3Cbr%3E%3Cimg%20src%3D%22http%3A%2F%2Frynantech.com%2Fvn%2Fimages%2FLogoRynanVN.png%22%3E","x":398.5,"y":318,"z":"c3aed0d3.3ce58","wires":[["c4a365b4.3b5c98"]]},{"id":"a8a7ad04.29118","type":"inject","name":"Start System Complete","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":150.5,"y":351,"z":"c3aed0d3.3ce58","wires":[["b1ce2caf.0ef838"]]},{"id":"20441762.8ba2e","type":"rpi-gpio out","name":"","pin":"23","set":false,"out":"out","x":561.3333625793457,"y":267.8333339691162,"z":"c3aed0d3.3ce58","wires":[]},{"id":"4207e3ce.0c772c","type":"function","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state === 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":268,"z":"c3aed0d3.3ce58","wires":[["20441762.8ba2e"]]},{"id":"e54f7d1e.0f63b8","type":"comment","name":"Boxcar Alert","info":"Hệ thống sẻ Push tin nhắn đến ứng dụng\nBoxcar2 để báo khởi động hoàn tất","x":92,"y":307,"z":"c3aed0d3.3ce58","wires":[]},{"id":"ee0db8fe.7561f8","type":"comment","name":"Blink status LED ","info":"LED sẽ nháy chu kỳ 1s báo hệ thống đã hoạt động","x":102.5,"y":227,"z":"c3aed0d3.3ce58","wires":[]},{"id":"b99eeea6.7bb3f8","type":"comment","name":"Khu vực testing: Gồm các hàm và Flow tạm","info":"","x":167,"y":866,"z":"c3aed0d3.3ce58","wires":[]},{"id":"d8c65737.0c0ee","type":"comment","name":"HiveMQ Broker: Free Test MQTT Protocol","info":"","x":187,"y":397,"z":"c3aed0d3.3ce58","wires":[]},{"id":"e12e70ca.8ba928","type":"function","name":"GetUTCDate","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":576,"z":"c3aed0d3.3ce58","wires":[["51d2f312.e39b84"]]},{"id":"c332f31e.58333","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":576,"z":"c3aed0d3.3ce58","wires":[["e12e70ca.8ba928"]]},{"id":"51d2f312.e39b84","type":"debug","name":"","active":true,"console":false,"complete":false,"x":449,"y":577,"z":"c3aed0d3.3ce58","wires":[]},{"id":"667e5562.6a363c","type":"comment","name":"Get UCT(+0) Date and Time","info":"","x":143,"y":536,"z":"c3aed0d3.3ce58","wires":[]},{"id":"390af4c1.dbb70c","type":"inject","name":"Get IP","topic":"ip","payload":"eth0","payloadType":"none","repeat":"300","crontab":"","once":false,"x":75,"y":1236,"z":"c3aed0d3.3ce58","wires":[["3ecb6676.c8ed02"]]},{"id":"369f515e.c0ba36","type":"function","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\nmsg.payload = currentip;\ncontext.lastip = currentip;\nreturn msg;\n}\n\n","outputs":"1","x":696,"y":1237.5,"z":"c3aed0d3.3ce58","wires":[[]]},{"id":"3ecb6676.c8ed02","type":"exec","command":"wget -qO- http://bot.whatismyipaddress.com/ ; echo","append":"","useSpawn":"","name":"Call IP - whatismyipaddress.com","x":278,"y":1236.5,"z":"c3aed0d3.3ce58","wires":[["9aa0cf8f.b1b0e"],[],[]]},{"id":"9aa0cf8f.b1b0e","type":"switch","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":520,"y":1236.5,"z":"c3aed0d3.3ce58","wires":[["369f515e.c0ba36"],[]]},{"id":"58ec0485.d79fb4","type":"http request","name":"Update no-ip.com","method":"GET","url":"http://username:password@dynupdate.no-ip.com/nic/update?hostname=yourhost.no-ip.org&myip={{payload}}","x":525,"y":1280,"z":"c3aed0d3.3ce58","wires":[[]]},{"id":"492e4c24.482214","type":"inject","name":"Test IP address","topic":"","payload":"192.168.1.9","payloadType":"string","repeat":"","crontab":"","once":false,"x":520,"y":1194,"z":"c3aed0d3.3ce58","wires":[["369f515e.c0ba36"]]},{"id":"8346b6cd.5dc26","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"lethanhtrieuk36@gmail.com","dname":"Email","x":766,"y":679,"z":"c3aed0d3.3ce58","wires":[]},{"id":"888df24a.8e9","type":"http request","name":"","method":"GET","ret":"txt","url":"https://www.packtpub.com/packt/offers/free-learning","x":131,"y":721,"z":"c3aed0d3.3ce58","wires":[["781fb520.1346a4"]]},{"id":"dfd1ae0a.0ac1b8","type":"inject","name":"10:30am trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":669,"z":"c3aed0d3.3ce58","wires":[["888df24a.8e9"]]},{"id":"781fb520.1346a4","type":"html","name":"extract book title","tag":".dotd-title h2","ret":"text","as":"single","x":300,"y":721,"z":"c3aed0d3.3ce58","wires":[["c90b07ed.e5a228"]]},{"id":"48344f1b.b222d","type":"template","name":"template","field":"payload","template":"{{#payload}}\n{{.}}\n{{/payload}}\n\nhttps://www.packtpub.com/packt/offers/free-learning","x":642,"y":679,"z":"c3aed0d3.3ce58","wires":[["8346b6cd.5dc26"]]},{"id":"c90b07ed.e5a228","type":"function","name":"trim & set subject","func":"msg.payload = msg.payload.map(function(item) {\n return item.trim();\n});\nmsg.topic = 'Free eBook from Packt Publishing';\nreturn msg;","outputs":1,"x":483,"y":679,"z":"c3aed0d3.3ce58","wires":[["48344f1b.b222d"]]},{"id":"23d3273e.7e188","type":"comment","name":"Testing Auto Send Email","info":"","x":128,"y":624,"z":"c3aed0d3.3ce58","wires":[]},{"id":"ca3b217d.4330c","type":"file","name":"myFiles: root/thethingbox/myFiles.txt","filename":"myFiles.txt","appendNewline":true,"overwriteFile":"false","x":523,"y":801,"z":"c3aed0d3.3ce58","wires":[]},{"id":"d24f712c.81206","type":"inject","name":"Data write to file","topic":"test write file","payload":"Du lieu duoc ghi tu Node-Red","payloadType":"string","repeat":"","crontab":"","once":false,"x":150,"y":800,"z":"c3aed0d3.3ce58","wires":[["ca3b217d.4330c"]]},{"id":"f363e67b.6f4b7","type":"commentdown","name":"Write string to file","info":"","x":125,"y":760,"z":"c3aed0d3.3ce58","wires":[]},{"id":"5f3af093.7cc2c8","type":"inject","name":"7am everydday trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 0 * * *","once":false,"x":119,"y":919,"z":"c3aed0d3.3ce58","wires":[["19c7e1fa.2111ee"]]},{"id":"19c7e1fa.2111ee","type":"http request","name":"POST to Boxcar2","method":"POST","ret":"txt","url":"https://new.boxcar.io/api/notifications?user_credentials=0GvWXesqsKtkEMwCGqRp&&notification[icon_url]=https://dl.dropboxusercontent.com/u/23155150/Logo96x96.png&notification[sound]=bird2&notification[title]=Smart%20Home%20System&notification[long_message]=%3Cb%3ECha%CC%80o%20bu%C3%B4%CC%89i%20sa%CC%81ng%20Tri%C3%AA%CC%80u%20!%20Chu%CC%81c%20ba%CC%A3n%20m%C3%B4%CC%A3t%20nga%CC%80y%20t%C3%B4%CC%81t%20la%CC%80nh%3C%2Fb%3E%3Cimg%20src%3D%22http%3A%2F%2Fwww.animatedimages.org%2Fdata%2Fmedia%2F521%2Fanimated-have-a-nice-day-image-0022.gif%22%3E","x":374,"y":915,"z":"c3aed0d3.3ce58","wires":[[]]},{"id":"b88922ab.df9ac8","type":"http in","name":"","url":"/status","method":"get","swaggerDoc":"","x":86,"y":1415,"z":"c3aed0d3.3ce58","wires":[["c2530c5c.c98cf8"]]},{"id":"c219f26e.506418","type":"http response","name":"","x":596.5,"y":1415,"z":"c3aed0d3.3ce58","wires":[]},{"id":"c2530c5c.c98cf8","type":"function","name":"Get Current Values","func":"msg.current = {\n brightness: context.global.brightness,\n contrast: context.global.contrast\n}\nreturn msg;","outputs":1,"x":275,"y":1415,"z":"c3aed0d3.3ce58","wires":[["b5b8a82.cc3d658"]]},{"id":"b5b8a82.cc3d658","type":"template","name":"","field":"payload","format":"handlebars","template":"\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n<!-- Plugin Google JavaScript -->\n\t <link rel=\"stylesheet\" href=\"dist/css/vendor/normalize.css\">\n\t <link rel=\"stylesheet\" href=\"dist/css/scaffold.css\">\n\t <link rel=\"stylesheet\" href=\"dist/css/ios7-switches.css\">\n\t <script src=\"js/jquery-2.1.4.js\"></script>\n\t<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>\n\t<script type=\"text/javascript\">\n\t\tgoogle.load(\"visualization\", '1', {packages:['corechart']});\n\t\tgoogle.load(\"visualization\", '1', {packages:['annotatedtimeline']});\n\t\tgoogle.setOnLoadCallback(drawChart);\n\t\tvar count;\n\t\tvar numcall =0;//Dem so lan Refresh\n\t\tvar dataTemperature ;//Chua du lieu Nhiet do lay ve tu sheet \n\t\tvar dataHumidity ;//Chua du lieu Do am lay ve tu sheet \n\t\tvar options; //Tuy chon cua Chart Nhiet do\n\t\tvar Humidityoptions; //Tuy chon cua Chart Nhiet do\n\t\tvar chartTemperature; //Chart cua Do am\n\t\tvar chartHumidity; //Chart cua nhiet do\n\t\tvar truyvanTemp;//Tao truy van de lay du lieu tu sheet\n\t\tvar truyvanHumi;//Tao truy van de lay du lieu tu sheet\n\t\tvar queryTemperature ;//Truy van cua Nhiet do\n\t\tvar queryHimidity ;//Truy van cua Nhiet do\n\t\tvar timer ;//= setInterval(function(){drawChart()}, 1000);//Ve lai google Map sau moi giay\n\t\tvar opts;//tuy chon truy van\n\t\tvar call = false;\n\t\tvar debug = false;\n\t\tvar numClick = 0;\n\t\tvar devicesQuery;\n\t\tvar dataDevices;\n\t\tfunction dapungNhiet(responseTemp)\n\t\t{\n\t\t\t\t\tif(debug){alert('Dap ung nhiet')}\n\t\t\t\t\tvar newDataTemp = responseTemp.getDataTable();//Lay du lieu tu truy van\n\t\t\t\t\tchartTemperature.draw(newDataTemp, options);\n\t\t}\t\n\t\tfunction dapungDoam(responseHumi)\n\t\t{\n\t\t\t\t\tif(debug){alert('Dap ung nhiet')}\n\t\t\t\t\tvar newDataHumi = responseHumi.getDataTable();//Lay du lieu tu truy van\n\t\t\t\t\tchartHumidity.draw(newDataHumi, Humidityoptions);\n\t\t}\t\n\t\t\n\t\tfunction drawChart() \n\t\t{\n\t\t\topts = {sendMethod: 'auto'};\n\t\t\tqueryHimidity = new google.visualization.Query(\n\t\t\t 'https://docs.google.com/spreadsheets/d/1ZDbbt8tHB8dbzxYHqPyTp5x4JBhwdEekB1yqs9CSeug/edit#gid=0',opts);\n\t\t\tqueryTemperature = new google.visualization.Query(\n\t\t\t 'https://docs.google.com/spreadsheets/d/1ZDbbt8tHB8dbzxYHqPyTp5x4JBhwdEekB1yqs9CSeug/edit#gid=0',opts);\n\t\t\tdevicesQuery = new google.visualization.Query(\n\t\t\t 'https://docs.google.com/spreadsheets/d/1ZDbbt8tHB8dbzxYHqPyTp5x4JBhwdEekB1yqs9CSeug/edit#gid=0',opts);\n\t\t\tdevicesQuery.setQuery('select F,G,H');\n\t\t\tqueryTemperature.setQuery('select A,B');//Chon cot Time va Temperature\n\t\t\tqueryHimidity.setQuery('select A,C');//Chon cot Time va Himidity\n\t\t\t//queryTemperature.setRefreshInterval(1000); \n\t\t\t\tif(!call)\n\t\t\t\t{\n\t\t\t\t queryHimidity.send(humidityRespone);\n\t\t\t\t\tqueryTemperature.send(handleQueryResponse);\n\t\t\t\t\tdevicesQuery.send(devicesRespone);\n\t\t\t\t\tcall = true;\n\t\t\t\t}\n\t\t\t\telse\n\t\t\t\t{ \n\t\t\t\t\tif(debug){alert('Dieu kien Else')}\n\t\t\t\t\tnumcall++;\n\t\t\t\t//var div = document.getElementById(\"txtStatus\");\n\t\t\t\t//div.textContent = numcall.toString();\n\t\t\t\tif(call)\n\t\t\t\t{\n\t\t\t\t\tif(debug){alert('Call true')}\n\t\t\t\t\t \n\t\t\t\t\ttruyvanTemp = new google.visualization.Query(\n\t\t\t\t\t 'https://docs.google.com/spreadsheets/d/1ZDbbt8tHB8dbzxYHqPyTp5x4JBhwdEekB1yqs9CSeug/edit#gid=0',opts);\n\t\t\t\t\tdevicesQuery = new google.visualization.Query(\n\t\t\t\t\t 'https://docs.google.com/spreadsheets/d/1ZDbbt8tHB8dbzxYHqPyTp5x4JBhwdEekB1yqs9CSeug/edit#gid=0',opts);\n\t\t\t\t\ttruyvanHumi = new google.visualization.Query(\n\t\t\t\t\t 'https://docs.google.com/spreadsheets/d/1ZDbbt8tHB8dbzxYHqPyTp5x4JBhwdEekB1yqs9CSeug/edit#gid=0',opts);\n\t\t\t\t\tdevicesQuery.setQuery('select F,G,H');\n\t\t\t\t\ttruyvanHumi.setQuery('select A,C');//Chon cot A,B de ve\tDo am\n\t\t\t\t\ttruyvanTemp.setQuery('select A,B');//Chon cot A,B de ve\tNhiet do\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t//truyvanTemp.setRefreshInterval(1000); //Refresh sau moi giay\n\t\t\t\t\ttruyvanTemp.send(dapungNhiet);\n\t\t\t\t\tdevicesQuery.send(devicesRespone);\n\t\t\t\t\ttruyvanHumi.send(dapungDoam);\n\t\t\t\t\tdevicesQuery.setRefreshInterval(2000); //Refresh sau moi giay\n\t\t\t\t}\n\t\t\t }\n\t\t\t}\n\t\t\t\n\t\t\tfunction devicesRespone(response) \n\t\t\t{\t\n\t\t\t\tdataDevices = response.getDataTable();//Lay du lieu tu truy van\n\t\t\t\tvar divice1Status = (dataDevices.getValue(dataDevices.getNumberOfRows()-1,0));\n\t\t\t\tvar divice2Status = (dataDevices.getValue(dataDevices.getNumberOfRows()-1,dataDevices.getNumberOfColumns()-1));\n\t\t\t\tif(divice2Status == \"ON\")\n\t\t\t\t{\n\t\t\t\t\t//document.getElementById(\"btnLightOn\").src = \"images/Light_ON.png\";\n\t\t\t\t}\n\t\t\t\telse if(divice2Status == \"OFF\")\n\t\t\t\t{\n\t\t\t\t\t//document.getElementById(\"btnLightOn\").src = \"images/Light_OFF.png\";\n\t\t\t\t}\t\t\t\n\t\t\t}\t\n\t\t\tfunction humidityRespone(response) \n\t\t\t{\n\t\t\t Humidityoptions = {\n\t\t\t title: 'Humidity Chart',\n\t\t\t hAxis: { \n\t\t\t\t\t\ttitle: 'Time',\n\t\t\t\t\t\t // here you can even use 180\n\t\t\t\t\t\tgridlines: {color: '#808000'},\n\t\t\t\t\t\ttextStyle: {\n\t\t\t\t\t\t\tcolor: '#000080' , \n\t\t\t\t\t\t\tfontSize: 13\n\t\t\t\t\t\t\t\t\t}\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t},\n\t\t\t //hAxis: {gridlines: {color: '#808000'}},\n\t\t\t vAxis: { \n\t\t\t\t\t\ttitle: 'Percent',\n\t\t\t\t\t\tminValue: 0,\n\t\t\t\t\t\ttextStyle: {\n\t\t\t\t\t\t\tcolor: '#000080' , \n\t\t\t\t\t\t\tfontSize: 13\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t explorer: {\n\t\t\t maxZoomOut:8,\n\t\t\t maxZoomIn: 0.01 ,\n\t\t\t zoomDelta: 0.5,\t\n\t\t\t keepInBounds: false},\n\t\t\t lineWidth: 2, //Do day duong line\n\t\t\t legend: 'none',\n\t\t\t //backgroundColor: '#538BCA', //Mau nen\n\t\t\t backgroundColor: \"transparent\",\n\t\t\t // hAxis: { minValue: 0, maxValue: count },\n colors: ['#0011FF'], //Mau line\n\t\t\t pointSize: 7, //Kich thuoc dau cham\n\t\t\t pointShape: { type: 'star' }, //Kieu dau cham:circle,triangle,square,diamond,star,polygon.\n\t\t\t //Hieu ung khi ve moi\n\t\t\t displayAnnotations: true,\n\t\t\t animation:{\n\t\t\t duration: 500,\n\t\t\t easing: 'inAndOut',\n\t\t\t\t\t\t},\n\t\t\t};\n\t\t\tdataHumidity = response.getDataTable();//Lay du lieu tu truy van\n\t\t\tchartHumidity = new google.visualization.LineChart(document.getElementById('humidityChart'));\n\t\t\tchartHumidity.draw(dataHumidity, Humidityoptions);\n\t\t\t\n\t\t\t\n\t}\n\tfunction handleQueryResponse(response) \n\t{\n\n\t\toptions = {\n\t\t\t title: 'Temperature Chart',\n\t\t\t hAxis: { \n\t\t\t\t\t\ttitle: 'Time',\n\t\t\t\t\t\t // here you can even use 180\n\t\t\t\t\t\tgridlines: {color: '#808000'},\n\t\t\t\t\t\ttextStyle: {\n\t\t\t\t\t\t\tcolor: '#000080' , \n\t\t\t\t\t\t\tfontSize: 13\n\t\t\t\t\t\t\t\t\t}\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t},\n\t\t\t //hAxis: {gridlines: {color: '#808000'}},\n\t\t\t vAxis: { \n\t\t\t\t\t\ttitle: 'Celsius degree',\n\t\t\t\t\t\tminValue: 0,\n\t\t\t\t\t\ttextStyle: {\n\t\t\t\t\t\t\tcolor: '#000080' , \n\t\t\t\t\t\t\tfontSize: 13\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t explorer: {\n\t\t\t maxZoomOut:8,\n\t\t\t maxZoomIn: 0.01 ,\n\t\t\t zoomDelta: 0.5,\t\n\t\t\t keepInBounds: false},\n\t\t\t lineWidth: 2, //Do day duong line\n\t\t\t legend: 'none',\n\t\t\t //backgroundColor: '#ffd7ff', //Mau nen\n\t\t\t backgroundColor: \"transparent\",\n\t\t\t // hAxis: { minValue: 0, maxValue: count },\n colors: ['#fd3e00'], //Mau line\n\t\t\t pointSize: 7, //Kich thuoc dau cham\n\t\t\t pointShape: { type: 'circle' }, //Kieu dau cham:circle,triangle,square,diamond,star,polygon.\n\t\t\t //Hieu ung khi ve moi\n\t\t\t displayAnnotations: true,\n\t\t\t animation:{\n\t\t\t duration: 500,\n\t\t\t easing: 'inAndOut',\n\t\t\t\t\t\t},\n\t\t\t};\n\t\t\tdataTemperature = response.getDataTable();//Lay du lieu tu truy van\n\t\t\tchartTemperature = new google.visualization.LineChart(document.getElementById('columnchart'));\n\t\t\tchartTemperature.draw(dataTemperature, options);\n\t\t\t\n\t\t\t\n\t}\n\ttimer = setInterval(function(){drawChart()}, 5000);//Ve lai google Map sau moi giay\n\t\n\t$(document).ready(function(){\n\t\t\t$(\".btnLight_class\").on('change', function() { \n\t\t\t\tvar switchid = $(this).attr('id');\n\t\t\t\tvar turnon = 0;\n\t\t\t\tif($(this).is(\":checked\")) {\n\t\t\t\t\tturnon = 1;\n\t\t\t\t}\n\t\t\t\t$.post( \"phpFunctions.php\", { switch: switchid, on: turnon}).done(function( data ) {\n\t\t\t\t\t//alert( \"Data Loaded: \" + data );\n\t\t\t });\n\t\t\t});\n\t\t});\n\tfunction alertMess()\n\t{\n\t\talert(\"Hello\");\n\t};\n\t</script>\n\t<link rel=\"shortcut icon\" type=\"image/png\" href=\"https://dl.dropboxusercontent.com/u/23155150/Logo16x16.png\"/>\n\n <meta charset=\"utf-8\">\n <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n <meta name=\"description\" content=\"\">\n <meta name=\"author\" content=\"\">\n\n <title>TTP2015-Smart Home</title>\n\n <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->\n <link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n\n <!-- Custom CSS -->\n <link href=\"css/freelancer.css\" rel=\"stylesheet\">\n\n <!-- Custom Fonts -->\n <link href=\"font-awesome/css/font-awesome.min.css\" rel=\"stylesheet\" type=\"text/css\">\n <link href=\"http://fonts.googleapis.com/css?family=Montserrat:400,700\" rel=\"stylesheet\" type=\"text/css\">\n <link href=\"http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic\" rel=\"stylesheet\" type=\"text/css\">\n\n <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->\n <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n <!--[if lt IE 9]>\n <script src=\"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js\"></script>\n <script src=\"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js\"></script>\n <![endif]-->\n\n</head>\n\n<body id=\"page-top\" class=\"index\">\n\n <!-- Navigation -->\n <nav class=\"navbar navbar-default navbar-fixed-top\">\n <div class=\"container\">\n <!-- Brand and toggle get grouped for better mobile display -->\n <div class=\"navbar-header page-scroll\">\n <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#bs-example-navbar-collapse-1\">\n <span class=\"sr-only\">Toggle navigation</span>\n <span class=\"icon-bar\"></span>\n <span class=\"icon-bar\"></span>\n <span class=\"icon-bar\"></span>\n </button>\n <a class=\"navbar-brand\" href=\"#page-top\">Home Page</a>\n </div>\n\n <!-- Collect the nav links, forms, and other content for toggling -->\n <div class=\"collapse navbar-collapse\" id=\"bs-example-navbar-collapse-1\">\n <ul class=\"nav navbar-nav navbar-right\">\n <li class=\"hidden\">\n <a href=\"#page-top\"></a>\n </li>\n\t\t\t\t\t<li class=\"page-scroll\">\n <a href=\"#smarthomeid\">Smart Home</a>\n </li>\n <li class=\"page-scroll\">\n <a href=\"#portfolio\">Projects</a>\n </li>\n <li class=\"page-scroll\">\n <a href=\"#about\">About</a>\n </li>\n <li class=\"page-scroll\">\n <a href=\"#contact\">Contact</a>\n </li>\n <li class=\"page-scroll\">\n <a href=\"/login.html\">Login</a>\n </li>\n </ul>\n </div>\n <!-- /.navbar-collapse -->\n </div>\n <!-- /.container-fluid -->\n </nav>\n\n <!-- Header -->\n <header>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-12\">\n <img class=\"img-responsive\" src=\"img/profile.png\" alt=\"\">\n <div class=\"intro-text\">\n <span class=\"name\">Welcome to <br>Thanh Trieu Production</span>\n <hr class=\"star-light\">\n <span class=\"skills\">Electronic and Information Technologies</span>\n </div>\n </div>\n </div>\n </div>\n </header>\n\t<!--Smart Home Space-->\n\t<section id=\"smarthomeid\">\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-12 text-center\">\n <h2>Smart Home Control</h2>\n <hr class=\"star-primary\">\n </div>\n </div>\n <div class=\"row\">\n\t\t\t<!--Charts--> \n\t\t\t<div class=\"chart-line\" id='columnchart'></div>\n\t\t\t\n\t\t\t<!--Charts--> \n\t\t\t<div class=\"chart-line\" id='humidityChart'></div>\t\n\t\t\t\n\t\t\t<center>\n\t\t\t<div class=\"switch switch-info\">\n\t\t\t\t<input type=\"checkbox\" class='btnLight_class' id=\"checkBox1\" />\n\t\t\t\t<label for=\"checkBox1\"></label>\n\t\t\t</div>\t\n\t\t\t\n\t\t\t<button onClick=\"alertMess()\" id=\"btnLight\" type=\"submit\" class=\"btn btn-info\"><span class=\"fa fa-lightbulb-o fa-2x\"> Light</span></button>\t\t\t\n\t\t\t</center>\n </section>\n\t<!-------------------->\n <!-- Portfolio Grid Section -->\n <section id=\"portfolio\">\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-12 text-center\">\n <h2>Projects</h2>\n <hr class=\"star-primary\">\n </div>\n </div>\n <div class=\"row\">\n <div class=\"col-sm-4 portfolio-item\">\n <a href=\"#portfolioModal1\" class=\"portfolio-link\" data-toggle=\"modal\">\n <div class=\"caption\">\n <div class=\"caption-content\">\n <i class=\"fa fa-search-plus fa-3x\"></i>\n </div>\n </div>\n <img src=\"img/portfolio/cabin.png\" class=\"img-responsive\" alt=\"\">\n </a>\n </div>\n <div class=\"col-sm-4 portfolio-item\">\n <a href=\"#portfolioModal2\" class=\"portfolio-link\" data-toggle=\"modal\">\n <div class=\"caption\">\n <div class=\"caption-content\">\n <i class=\"fa fa-search-plus fa-3x\"></i>\n </div>\n </div>\n <img src=\"img/portfolio/cake.png\" class=\"img-responsive\" alt=\"\">\n </a>\n </div>\n <div class=\"col-sm-4 portfolio-item\">\n <a href=\"#portfolioModal3\" class=\"portfolio-link\" data-toggle=\"modal\">\n <div class=\"caption\">\n <div class=\"caption-content\">\n <i class=\"fa fa-search-plus fa-3x\"></i>\n </div>\n </div>\n <img src=\"img/portfolio/circus.png\" class=\"img-responsive\" alt=\"\">\n </a>\n </div>\n <div class=\"col-sm-4 portfolio-item\">\n <a href=\"#portfolioModal4\" class=\"portfolio-link\" data-toggle=\"modal\">\n <div class=\"caption\">\n <div class=\"caption-content\">\n <i class=\"fa fa-search-plus fa-3x\"></i>\n </div>\n </div>\n <img src=\"img/portfolio/game.png\" class=\"img-responsive\" alt=\"\">\n </a>\n </div>\n <div class=\"col-sm-4 portfolio-item\">\n <a href=\"#portfolioModal5\" class=\"portfolio-link\" data-toggle=\"modal\">\n <div class=\"caption\">\n <div class=\"caption-content\">\n <i class=\"fa fa-search-plus fa-3x\"></i>\n </div>\n </div>\n <img src=\"img/portfolio/safe.png\" class=\"img-responsive\" alt=\"\">\n </a>\n </div>\n <div class=\"col-sm-4 portfolio-item\">\n <a href=\"#portfolioModal6\" class=\"portfolio-link\" data-toggle=\"modal\">\n <div class=\"caption\">\n <div class=\"caption-content\">\n <i class=\"fa fa-search-plus fa-3x\"></i>\n </div>\n </div>\n <img src=\"img/portfolio/submarine.png\" class=\"img-responsive\" alt=\"\">\n </a>\n </div>\n </div>\n </div>\n </section>\n\n <!-- About Section -->\n <section class=\"success\" id=\"about\">\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-12 text-center\">\n <h2>About</h2>\n <hr class=\"star-light\">\n </div>\n </div>\n <div class=\"row\">\n <div class=\"col-lg-4 col-lg-offset-2\">\n <p>Welcome and thank you for your visited to Thanh Trieu Production</p>\n </div>\n <div class=\"col-lg-4\">\n <p>This is main page of Thanh Trieu Production</p>\n </div>\n <div class=\"col-lg-8 col-lg-offset-2 text-center\">\n <a href=\"https://www.google.com/webhp?source=search_app&gfe_rd=cr&ei=XHnPVOzdCeaK8QfZiYCAAw&gws_rd=ssl#q=lee_trieu\" class=\"btn btn-lg btn-outline\">\n <i class=\"fa fa-search\"></i> Google My Information\n </a>\n </div>\n </div>\n </div>\n </section>\n\n <!-- Contact Section -->\n <section id=\"contact\">\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-12 text-center\">\n <h2>Contact Me</h2>\n <hr class=\"star-primary\">\n </div>\n </div>\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->\n <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->\n <form name=\"sentMessage\" id=\"contactForm\" novalidate>\n <div class=\"row control-group\">\n <div class=\"form-group col-xs-12 floating-label-form-group controls\">\n <label>Name</label>\n <input type=\"text\" class=\"form-control\" placeholder=\"Name\" id=\"name\" required data-validation-required-message=\"Please enter your name.\">\n <p class=\"help-block text-danger\"></p>\n </div>\n </div>\n <div class=\"row control-group\">\n <div class=\"form-group col-xs-12 floating-label-form-group controls\">\n <label>Email Address</label>\n <input type=\"email\" class=\"form-control\" placeholder=\"Email Address\" id=\"email\" required data-validation-required-message=\"Please enter your email address.\">\n <p class=\"help-block text-danger\"></p>\n </div>\n </div>\n <div class=\"row control-group\">\n <div class=\"form-group col-xs-12 floating-label-form-group controls\">\n <label>Phone Number</label>\n <input type=\"tel\" class=\"form-control\" placeholder=\"Phone Number\" id=\"phone\" required data-validation-required-message=\"Please enter your phone number.\">\n <p class=\"help-block text-danger\"></p>\n </div>\n </div>\n <div class=\"row control-group\">\n <div class=\"form-group col-xs-12 floating-label-form-group controls\">\n <label>Message</label>\n <textarea rows=\"5\" class=\"form-control\" placeholder=\"Message\" id=\"message\" required data-validation-required-message=\"Please enter a message.\"></textarea>\n <p class=\"help-block text-danger\"></p>\n </div>\n </div>\n <br>\n <div id=\"success\"></div>\n <div class=\"row\">\n <div class=\"form-group col-xs-12\">\n <button type=\"submit\" class=\"btn btn-success btn-lg\">Send Now</button>\n </div>\n </div>\n </form>\n </div>\n </div>\n </div>\n </section>\n\n <!-- Footer -->\n <footer class=\"text-center\">\n <div class=\"footer-above\">\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"footer-col col-md-4\">\n <h3>Location</h3>\n <p>LONGTRI HAMLET,\n\t\t\t\t\t\t<br>LONGDUC WARD, TRAVINH CITY\n\t\t\t\t\t\t<br>TRAVINH PROVINCE, VIETNAM\n\t\t\t\t\t\t</p>\n </div>\n <div class=\"footer-col col-md-4\">\n <h3>Follow Me</h3>\n <ul class=\"list-inline\">\n <li>\n <a href=\"https://www.facebook.com/lee.trieu.10\" class=\"btn-social btn-outline\"><i class=\"fa fa-fw fa-facebook\"></i></a>\n </li>\n\t\t\t\t\t\t\t<li>\n <a href=\"https://twitter.com/lee_trieu\" class=\"btn-social btn-outline\"><i class=\"fa fa-fw fa-twitter\"></i></a>\n </li>\n <li>\n <a href=\"https://plus.google.com/+LeThanhTrieu\" class=\"btn-social btn-outline\"><i class=\"fa fa-fw fa-google-plus\"></i></a>\n </li>\n <li>\n <a href=\"https://www.youtube.com/channel/UCHnTCSmraS19qoke3u-hDYQ\" class=\"btn-social btn-outline\"><i class=\"fa fa-fw fa-youtube\"></i></a>\n </li>\n \n <li>\n <a href=\"#\" class=\"btn-social btn-outline\"><i class=\"fa fa-fw fa-skype\"></i></a>\n </li>\n </ul>\n </div>\n <div class=\"footer-col col-md-4\">\n <h3>About Thanh Trieu Production</h3>\n <p>This is my web pages: <a href=\"http://sites.google.com/site/lethanhtrieuk36\">Google Site</a>.</p>\n </div>\n </div>\n </div>\n </div>\n <div class=\"footer-below\">\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-12\">\n Copyright &copy; by Thanh Trieu Production\n </div>\n </div>\n </div>\n </div>\n </footer>\n\n <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->\n <div class=\"scroll-top page-scroll visible-xs visible-sm\">\n <a class=\"btn btn-primary\" href=\"#page-top\">\n <i class=\"fa fa-chevron-up\"></i>\n </a>\n </div>\n\n <!-- Portfolio Modals -->\n <div class=\"portfolio-modal modal fade\" id=\"portfolioModal1\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n <div class=\"modal-content\">\n <div class=\"close-modal\" data-dismiss=\"modal\">\n <div class=\"lr\">\n <div class=\"rl\">\n </div>\n </div>\n </div>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <div class=\"modal-body\">\n <h2>Arduino Projects</h2>\n <hr class=\"star-primary\">\n <img src=\"img/portfolio/cabin.png\" class=\"img-responsive img-centered\" alt=\"\">\n <p>Some arduino projects<a href=\"https://sellfy.com/p/8Q9P/jV3VZ/\">TTP2015-Arduino</a></p>\n <ul class=\"list-inline item-details\">\n <li>Client:\n <strong><a href=\"http://startbootstrap.com\">Start Bootstrap</a>\n </strong>\n </li>\n <li>Date:\n <strong><a href=\"http://startbootstrap.com\">April 2014</a>\n </strong>\n </li>\n <li>Service:\n <strong><a href=\"http://startbootstrap.com\">Web Development</a>\n </strong>\n </li>\n </ul>\n <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\"><i class=\"fa fa-times\"></i> Close</button>\n </div>\n </div>\n </div>\n </div>\n </div>\n </div>\n <div class=\"portfolio-modal modal fade\" id=\"portfolioModal2\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n <div class=\"modal-content\">\n <div class=\"close-modal\" data-dismiss=\"modal\">\n <div class=\"lr\">\n <div class=\"rl\">\n </div>\n </div>\n </div>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <div class=\"modal-body\">\n <h2>Project Title</h2>\n <hr class=\"star-primary\">\n <img src=\"img/portfolio/cake.png\" class=\"img-responsive img-centered\" alt=\"\">\n <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href=\"https://sellfy.com/p/8Q9P/jV3VZ/\">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>\n <ul class=\"list-inline item-details\">\n <li>Client:\n <strong><a href=\"http://startbootstrap.com\">Start Bootstrap</a>\n </strong>\n </li>\n <li>Date:\n <strong><a href=\"http://startbootstrap.com\">April 2014</a>\n </strong>\n </li>\n <li>Service:\n <strong><a href=\"http://startbootstrap.com\">Web Development</a>\n </strong>\n </li>\n </ul>\n <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\"><i class=\"fa fa-times\"></i> Close</button>\n </div>\n </div>\n </div>\n </div>\n </div>\n </div>\n <div class=\"portfolio-modal modal fade\" id=\"portfolioModal3\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n <div class=\"modal-content\">\n <div class=\"close-modal\" data-dismiss=\"modal\">\n <div class=\"lr\">\n <div class=\"rl\">\n </div>\n </div>\n </div>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <div class=\"modal-body\">\n <h2>Project Title</h2>\n <hr class=\"star-primary\">\n <img src=\"img/portfolio/circus.png\" class=\"img-responsive img-centered\" alt=\"\">\n <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href=\"https://sellfy.com/p/8Q9P/jV3VZ/\">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>\n <ul class=\"list-inline item-details\">\n <li>Client:\n <strong><a href=\"http://startbootstrap.com\">Start Bootstrap</a>\n </strong>\n </li>\n <li>Date:\n <strong><a href=\"http://startbootstrap.com\">April 2014</a>\n </strong>\n </li>\n <li>Service:\n <strong><a href=\"http://startbootstrap.com\">Web Development</a>\n </strong>\n </li>\n </ul>\n <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\"><i class=\"fa fa-times\"></i> Close</button>\n </div>\n </div>\n </div>\n </div>\n </div>\n </div>\n <div class=\"portfolio-modal modal fade\" id=\"portfolioModal4\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n <div class=\"modal-content\">\n <div class=\"close-modal\" data-dismiss=\"modal\">\n <div class=\"lr\">\n <div class=\"rl\">\n </div>\n </div>\n </div>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <div class=\"modal-body\">\n <h2>Project Title</h2>\n <hr class=\"star-primary\">\n <img src=\"img/portfolio/game.png\" class=\"img-responsive img-centered\" alt=\"\">\n <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href=\"https://sellfy.com/p/8Q9P/jV3VZ/\">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>\n <ul class=\"list-inline item-details\">\n <li>Client:\n <strong><a href=\"http://startbootstrap.com\">Start Bootstrap</a>\n </strong>\n </li>\n <li>Date:\n <strong><a href=\"http://startbootstrap.com\">April 2014</a>\n </strong>\n </li>\n <li>Service:\n <strong><a href=\"http://startbootstrap.com\">Web Development</a>\n </strong>\n </li>\n </ul>\n <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\"><i class=\"fa fa-times\"></i> Close</button>\n </div>\n </div>\n </div>\n </div>\n </div>\n </div>\n <div class=\"portfolio-modal modal fade\" id=\"portfolioModal5\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n <div class=\"modal-content\">\n <div class=\"close-modal\" data-dismiss=\"modal\">\n <div class=\"lr\">\n <div class=\"rl\">\n </div>\n </div>\n </div>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <div class=\"modal-body\">\n <h2>Project Title</h2>\n <hr class=\"star-primary\">\n <img src=\"img/portfolio/safe.png\" class=\"img-responsive img-centered\" alt=\"\">\n <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href=\"https://sellfy.com/p/8Q9P/jV3VZ/\">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>\n <ul class=\"list-inline item-details\">\n <li>Client:\n <strong><a href=\"http://startbootstrap.com\">Start Bootstrap</a>\n </strong>\n </li>\n <li>Date:\n <strong><a href=\"http://startbootstrap.com\">April 2014</a>\n </strong>\n </li>\n <li>Service:\n <strong><a href=\"http://startbootstrap.com\">Web Development</a>\n </strong>\n </li>\n </ul>\n <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\"><i class=\"fa fa-times\"></i> Close</button>\n </div>\n </div>\n </div>\n </div>\n </div>\n </div>\n <div class=\"portfolio-modal modal fade\" id=\"portfolioModal6\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n <div class=\"modal-content\">\n <div class=\"close-modal\" data-dismiss=\"modal\">\n <div class=\"lr\">\n <div class=\"rl\">\n </div>\n </div>\n </div>\n <div class=\"container\">\n <div class=\"row\">\n <div class=\"col-lg-8 col-lg-offset-2\">\n <div class=\"modal-body\">\n <h2>Project Title</h2>\n <hr class=\"star-primary\">\n <img src=\"img/portfolio/submarine.png\" class=\"img-responsive img-centered\" alt=\"\">\n <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href=\"https://sellfy.com/p/8Q9P/jV3VZ/\">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>\n <ul class=\"list-inline item-details\">\n <li>Client:\n <strong><a href=\"http://startbootstrap.com\">Start Bootstrap</a>\n </strong>\n </li>\n <li>Date:\n <strong><a href=\"http://startbootstrap.com\">April 2014</a>\n </strong>\n </li>\n <li>Service:\n <strong><a href=\"http://startbootstrap.com\">Web Development</a>\n </strong>\n </li>\n </ul>\n <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\"><i class=\"fa fa-times\"></i> Close</button>\n </div>\n </div>\n </div>\n </div>\n </div>\n </div>\n\n <!-- jQuery -->\n <script src=\"js/jquery.js\"></script>\n\n <!-- Bootstrap Core JavaScript -->\n <script src=\"js/bootstrap.min.js\"></script>\n\n <!-- Plugin JavaScript -->\n <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js\"></script>\n <script src=\"js/classie.js\"></script>\n <script src=\"js/cbpAnimatedHeader.js\"></script>\n\t\n <!-- Contact Form JavaScript -->\n <script src=\"js/jqBootstrapValidation.js\"></script>\n <script src=\"js/contact_me.js\"></script>\n\n <!-- Custom Theme JavaScript -->\n <script src=\"js/freelancer.js\"></script>\n\n</body>\n\n</html>\n\t\t","x":456.5,"y":1415,"z":"c3aed0d3.3ce58","wires":[["c219f26e.506418"]]},{"id":"601329c0.22552","type":"http in","name":"","url":"/submit","method":"get","swaggerDoc":"","x":93,"y":1475,"z":"c3aed0d3.3ce58","wires":[["1142ae59.a17b92"]]},{"id":"1142ae59.a17b92","type":"function","name":"Set Values","func":"context.global.brightness = msg.payload.brightness;\ncontext.global.contrast = msg.payload.contrast;\n\nreturn msg;","outputs":1,"x":275,"y":1475,"z":"c3aed0d3.3ce58","wires":[["a9d34027.880db"]]},{"id":"a9d34027.880db","type":"function","name":"Redirect back to /status","func":"msg.res.redirect(\"/api/status\");\n","outputs":"0","noerr":0,"x":508,"y":1475,"z":"c3aed0d3.3ce58","wires":[]},{"id":"5fc10cbb.425cc4","type":"commentdown","name":"Link Refer","info":"https://groups.google.com/forum/#!topic/node-red/Lu5AqHIty4w","x":74,"y":1360,"z":"c3aed0d3.3ce58","wires":[]},{"id":"cb1e19de.18cc5","type":"http in","name":"http in","url":"/random","method":"get","x":139,"y":1809,"z":"c3aed0d3.3ce58","wires":[["979c6fce.b9fca8"]]},{"id":"c6f7db91.429e1","type":"template","name":"","field":"","template":"\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<body>\n <b>Hello Random - {{ payload }}</b>\n \n</body>\n</html>\n\t\t","x":484.00006103515625,"y":1803,"z":"c3aed0d3.3ce58","wires":[["86236c36.9fa1d8"]]},{"id":"86236c36.9fa1d8","type":"http response","name":"http response","x":637,"y":1806.0000305175781,"z":"c3aed0d3.3ce58","wires":[]},{"id":"157a5d04.23ddcb","type":"inject","name":"Inject1","topic":"Topic1","payload":"1,100","payloadType":"string","repeat":"","crontab":"","once":false,"x":149.00003051757812,"y":1756,"z":"c3aed0d3.3ce58","wires":[["979c6fce.b9fca8"]]},{"id":"979c6fce.b9fca8","type":"function","name":"Random Fn","func":"if (msg.topic == \"Topic1\") {\n var words = msg.payload.split(\" \");\n var range = words[0];\n var minmax = range.split(\",\");\n var min = minmax[0];\n var max = minmax[1];\n var d = Math.round(min + (Math.random() * (max - min)));\n context.myValue = d+\"\";\n msg.payload = context.myValue;\n return [msg,null];\n} else {\n msg.payload = context.myValue||\"\";\n return [null,msg];\n}","outputs":"2","x":347,"y":1759,"z":"c3aed0d3.3ce58","wires":[["a07b2a77.bf7a5"],["c6f7db91.429e1"]]},{"id":"a07b2a77.bf7a5","type":"debug","name":"Debug1","active":true,"console":"false","complete":"true","x":608.0000610351562,"y":1743,"z":"c3aed0d3.3ce58","wires":[]},{"id":"93e3ed34.9a5708","type":"http in","name":"","url":"/mqtt","method":"get","swaggerDoc":"","x":89,"y":1632,"z":"c3aed0d3.3ce58","wires":[["1c9eafcc.9857f","d2a7292a.7adf68"]]},{"id":"1c9eafcc.9857f","type":"function","name":"Get Current Values","func":"\n","outputs":1,"noerr":0,"x":295,"y":1578,"z":"c3aed0d3.3ce58","wires":[["626e12f8.f5919c","a39cbeab.980448"]]},{"id":"a39cbeab.980448","type":"template","name":"","field":"","template":"\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<body>\n <b>Hello MQTT</b>\n \n</body>\n</html>\n\t\t","x":493,"y":1603,"z":"c3aed0d3.3ce58","wires":[["d0ef7a95.65864"]]},{"id":"d0ef7a95.65864","type":"http response","name":"http response","x":667.9999389648438,"y":1590,"z":"c3aed0d3.3ce58","wires":[]},{"id":"626e12f8.f5919c","type":"debug","name":"Debug1","active":true,"console":"false","complete":"true","x":624,"y":1529,"z":"c3aed0d3.3ce58","wires":[]},{"id":"36173d75.306722","type":"inject","name":"Inject1","topic":"water","payload":"12345","payloadType":"string","repeat":"","crontab":"","once":false,"x":109,"y":1535,"z":"c3aed0d3.3ce58","wires":[["1c9eafcc.9857f"]]},{"id":"2d0ceb8f.df50a4","type":"inject","name":"POST \"foo\" to \"/bar\" at port 1880 .","topic":"1880/bar","payload":"foo","payloadType":"string","repeat":"","crontab":"","once":false,"x":235,"y":2083,"z":"c3aed0d3.3ce58","wires":[["58c9ac91.037f74"]]},{"id":"58c9ac91.037f74","type":"function","name":"Build URL and body","func":"// Send an HTTP POST.\n\n// use port 1880 if the server is a node-RED node\n// use port 1881 if the server is a node.js program\nvar portAndUrl = msg.topic;\nvar messageBody = msg.payload;\n\nmsg = {}; \n\nmsg.url = \"http://localhost:\" + portAndUrl;\nmsg.payload = \"Payload is \" + messageBody;\n\nreturn msg;","outputs":1,"x":479.2856903076172,"y":2108.714307308197,"z":"c3aed0d3.3ce58","wires":[["f57c9cdd.943a28","6af87b04.4dc494"]]},{"id":"493ea3bc.85fcd4","type":"debug","name":"HTTP POST Response","active":true,"complete":"false","x":886.4285202026367,"y":2072.9999957084656,"z":"c3aed0d3.3ce58","wires":[]},{"id":"f57c9cdd.943a28","type":"http request","name":"HTTP POST","method":"POST","url":"","x":676.4285850524902,"y":2071.5714631080627,"z":"c3aed0d3.3ce58","wires":[["493ea3bc.85fcd4"]]},{"id":"6af87b04.4dc494","type":"debug","name":"HTTP POST request","active":true,"complete":"true","x":690.7142791748047,"y":2140.1429171562195,"z":"c3aed0d3.3ce58","wires":[]},{"id":"ff5b008d.1766b8","type":"http response","name":"/bar Server Out","x":797.8570938110352,"y":2214.4285950660706,"z":"c3aed0d3.3ce58","wires":[]},{"id":"597c7103.f412e8","type":"debug","name":"Server POST request","active":true,"complete":"false","x":466.4285583496094,"y":2294.4286408424377,"z":"c3aed0d3.3ce58","wires":[]},{"id":"c316acee.37d238","type":"function","name":"/bar Server Processing","func":"var POSTBody = msg.req.body;\nconsole.log(JSON.stringify(POSTBody));\nmsg.payload= \"POST body received: \" + POSTBody;\nconsole.log(\"Returning \" + JSON.stringify(msg.payload));\nreturn msg;","outputs":"2","x":494.9999771118164,"y":2231.571461200714,"z":"c3aed0d3.3ce58","wires":[["ff5b008d.1766b8","8e93ecfe.6e05e8"],["d0cfc4f.724af38"]]},{"id":"8e93ecfe.6e05e8","type":"debug","name":"Server POST Response","active":false,"complete":"false","x":806.4285354614258,"y":2271.5714292526245,"z":"c3aed0d3.3ce58","wires":[]},{"id":"e21708d1.75d39","type":"http in","name":"/bar server in","url":"/bar","method":"post","x":219.2857186453682,"y":2254.4286160469055,"z":"c3aed0d3.3ce58","wires":[["c316acee.37d238","597c7103.f412e8"]]},{"id":"d0cfc4f.724af38","type":"debug","name":"ServerBody","active":false,"complete":"true","x":685.000004359654,"y":2334.4286160469055,"z":"c3aed0d3.3ce58","wires":[]},{"id":"29c10b35.2fb224","type":"inject","name":"POST \"foo\" to \"/bar\" at port 1881 .","topic":"1881/bar","payload":"foo","repeat":"","crontab":"","once":false,"x":232.14285278320312,"y":2137.2857575416565,"z":"c3aed0d3.3ce58","wires":[["58c9ac91.037f74"]]},{"id":"d2a7292a.7adf68","type":"debug","name":"Debug1","active":true,"console":"false","complete":"true","x":306,"y":1696,"z":"c3aed0d3.3ce58","wires":[]},{"id":"9f7728cc.b33e58","type":"mqtt in","name":"MQTT Local Subscriber","topic":"Watermeter","broker":"MQTT.Localhost","x":105,"y":83,"z":"c3aed0d3.3ce58","wires":[["444c1340.d00b7c"]]},{"id":"c028fc58.9e65f","type":"inject","name":"Trigger every 1s","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":92,"y":266,"z":"c3aed0d3.3ce58","wires":[["4207e3ce.0c772c"]]},{"id":"c4a365b4.3b5c98","type":"debug","name":"","active":true,"console":false,"complete":false,"x":615,"y":337,"z":"c3aed0d3.3ce58","wires":[]},{"id":"daed5e52.2512a","type":"http in","name":"","url":"/test","method":"get","swaggerDoc":"","x":155,"y":1937,"z":"c3aed0d3.3ce58","wires":[["ec3e2eaf.13c1d"]]},{"id":"ed0efe43.12f1","type":"http response","name":"","x":522,"y":1927,"z":"c3aed0d3.3ce58","wires":[]},{"id":"ec3e2eaf.13c1d","type":"function","name":"","func":"console.log(msg.req);\nmsg.payload = \"OK\";\nmsg2 = {payload:msg.req.query};\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":347,"y":1965,"z":"c3aed0d3.3ce58","wires":[["ed0efe43.12f1"],["b7db2535.4824d8"]]},{"id":"b7db2535.4824d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":537,"y":1979,"z":"c3aed0d3.3ce58","wires":[]}]
